body{
    font-family: 'Poppins', sans-serif;
}
span{
    color: red;
}
.disply{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    border-radius: 50%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 143, 56), tomato);
    padding: 10px 40px;
    color: white;
}
.size{
    font-size: 50px;
}
.green{
    color: red;
}
.shado{
   display: flex;
   padding-bottom: 40px;
   
} 
.both{
    width: 45%;
    box-shadow: 10px 10px 40px blue;
    border-radius: 5%;
    padding: 10px;
    border: 3px solid green;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 30%;
    margin-left: 25px;
}


